/* body{
    background-color: #1774ab;
}

.header{
    background-color: #056ba5;
    height: 42px;
    position: relative;
    padding: 4px;
    margin: 0em - 1em;
}

#logo{
    background-size: cover;
    bottom: 0;
    display: block;
}

#imgUsuario {
    height: 32px;
    width: 35px;
    border-radius: 13em;
    padding-right: 0.5em;
} */

